@import "tailwindcss";

:root {
  --background: #04010A;
  --foreground: #F5FCF4;
}

@theme {
  --color-night-1: #04010A;
  --color-night-2: #0E0419;
  --color-night-3: #250E33;
  --color-night-4: #64346B;
  --color-night-5: #874E86;
  --color-night-6: #A8729F;
  --color-night-7: #C699B9;
  --color-night-8: #DDBED0;
  --color-night-9: #F2E6EA;
  --color-night-10: #FCF9FA;
  --color-toymaker: #F5FCF4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Quick jagged edges for the tape */
.mask-tape {
  mask-image: url("data:image/svg+xml,%3Csvg width='200' height='60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10 L5 0 L10 10 L15 0 L20 10 L25 0 L30 10 L35 0 L200 0 L200 60 L0 60 Z' fill='black'/%3E%3C/svg%3E");
  background-color: #facc15; /* Yellow Tape Color */
}

/* Makes the top of the chat fade out */
.mask-fade-top {
  mask-image: linear-gradient(to bottom, transparent 0%, black 20%);
}